# DATABASE_URL="file:./dev.db"
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/DATABASE
PORT=3001
TOKEN_SECRET=blalbalbalbalbalbalbalblalbalblalbla